*.pyc
enron_mail_20110402.tgz
enron_mail_20110402/
enron_mail_20150507.tgz
maildir/
text_learning/your_word_data.pkl
text_learning/your_email_authors.pkl
my_classifier.pkl
my_dataset.pkl
my_feature_list.pkl
word_data_unix.pkl
practice_outliers_ages_unix.pkl
practice_outliers_net_worths_unix.pkl
final_project_dataset_modified_unix.pkl
final_project_dataset_unix.pkl